/*scrollbar*/

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #D94A3D;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 37, 32);
}

/*....*/

html {
    line-height: 1.5;
    font-family: "Comic Sans MS";
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

.backgrounds {
    background: url(./files/bg.png) repeat;
}

@media only screen and (min-width: 993px) {
    #right {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 993px) {
    #small-nav {
        transform: translateX(0%);
    }
}

.mynav {
    background-color: rgba(247, 237, 227, 1);
}

.nav-elem {
    animation-duration: 500ms;
    animation-delay: 100ms;
    animation-iteration-count: 1;
}

@keyframes navbarAnim {
    0% {
        transform: translate(-300px)
    }
}

#large-nav, #small-nav {
    animation-name: navbarAnim;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

.headings {
    animation-duration: 200ms;
    animation-delay: 100ms;
    animation-iteration-count: 1;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 14px;
    border-left: 4px solid #D94A3D;
}

.sec-head {
    background-color: rgba(217, 74, 61, 0.7);
    border-top: 2px solid black;
}

.semi-border::after {
    position: relative;
    background-color: black;
    content: '';
    display: block;
    height: 2px;
    width: 250px;
    left: 25px;
}

.semi-border-s::after {
    position: relative;
    background-color: black;
    content: '';
    display: block;
    height: 2px;
    width: 60px;44
    left: 15px;
}

.slideanim {
    visibility: hidden;
    animation-duration: 500ms;
    animation-delay: 100ms;
    animation-iteration-count: 1;
}

.aboutanim {
    visibility: hidden;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.projectsanim {
    visibility: hidden;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.skillsanim {
    visibility: hidden;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.contactanim {
    visibility: hidden;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes homepic {
    from {
        opacity: 0;
        transform: translate(200px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#homeimg {
    animation-name: homepic;
    animation-duration: 500ms;
    animation-delay: 100ms;
    animation-timing-function: ease-out;
}

#quote {
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-iteration-count: 1;
}

#homebutton {
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
}